
<h2>Pet Event History</h2>
<div class="history-card">
    You can see your pet's event history here!
    % for pet in pets:
    <h3>{{ pet[3] }}:</h3>
    <ul>
        % found_history = False  # Flag to check if pet has history
        % for entry in history:
            % if entry[0] == pet[0]:  # Match petID
                % found_history = True
                <li>Time: {{ entry[2] }}  |  Event: {{ entry[1] }} <br></li>
            % end
        % end

        % if not found_history:  # If no event history was found
            <li>No pet event history</li>
        % end
    </ul>
    % end
        

</div>





<h2>Pets</h2>
<div class="card-container">
    <div class="card">
        <h2>Add New Pet</h2>
        <p>You will need to input the pet's name and RFID tag UIN.</p>
        <form action="/createPet" method="POST">
            Pet Name: <input name="petName" type="text" placeholder="Enter Pet Name here"/><br>
            RFID Tag UIN: <input name="rfID_UIN" type="text" placeholder="Enter RFID UIN here"/><br>
            Pet Description: <input name="petDescription" type="text" placeholder="Enter Pet Description here"/><br>
            Pet Food:<input name="petfood" type="text" placeholder="Enter Petfood here"/><br>
            <br>
            <input value="Create Pet" type="submit" />
        </form><br>
    </div>
    <div class="card">
        <h2>Add New Feeding Time</h2>
        <p>You will need to input the pet's name, the time you would like the pet to be fed, and the amount of food that should be dispensed in increments of 1/2 cups.</p>
        <form action="/createFeedingTime" method="POST">
            Pet Name: <input name="petName" type="text" placeholder="Enter Pet Name here"/><br>
            Feeding Time: <input name="feeding_time" type="time"/><br>
            Amount: <input name="amount" type="number" step="1" placeholder="Enter Amount here"/><br>
            <br>
            <input value="Create Feeding Time" type="submit" />
        </form><br>
    </div>
    % for pet in pets:
        <div class="card">
            <h2>{{pet[3]}}</h2>
            {{pet[4]}}<br><br>
            Dog Food: {{ pet[5] }}<br><br>
            <strong>Feeding Times:</strong>
            <ul>
                % for feeding in feeding_times:
                    % if feeding[0] == pet[0]:  # Match petID
                        <li>Time: {{ feeding[1] }} <br>
                            Amount: {{ feeding[2] }}</li>
                    % end
                % end
            </ul>
            <!-- <a href='/delete'>Delete Dog</a><br> -->
            <form action="/deletepet" method="POST">
                <input name="petName" type="hidden" value="{{pet[3]}}"/>
                <input value="Delete Pet" type="submit" />
            </form>
        </div>
    % end