<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFeast: Food on Demand</title>
    <style>
        h1 {    text-align: center;        }
        body {  text-align: left;
                background-color: #b8dac0; }
        input { background-color: #d2ecd9; }
        img {   font-family: 'Times New Roman', Times, serif;
                font-size: 16px;
                color: rgb(1, 5, 7);
                width: 50%;
                height: 50%;               }
        a {     font-family: 'Times New Roman', Times, serif;
                color: #475f4d;        }
    </style>
</head>
<a href='/logout' style="text-align: center;">Logout</a><br>
<h1>Welcome {{username}} to the PawFeast: Food on Demand User Interface!</h1>
<body>
    <p>This is the webpage used as the user interface for the University of Illinois Urbana-Champaign ECE445 Group 30 Team Project.</p>
    
    <h2>Pets</h2>
    <a href='/logout'>View Pets</a><br>
    <a href='/logout'>Add New Pet</a><br>
    <a href='/logout'>Logout</a><br>


</body>
</html>
